---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Blog';
const description = 'All posts.';

const allPosts = await Astro.glob('../../data/posts/*.{md,mdx}');
const allSortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
const posts = allSortedPosts.filter(post => post.frontmatter.draft != true)
//console.log(posts.map(post => post.file))
---

<BaseLayout title={title} description={description} >
  <h1>Posts</h1>
  <hr />

  <div class="mt-8">
    {posts.map((post, index) => {
      const href = `/blog/${post.file.split('/').pop()?.split('.').shift()}`;
      return (
        <div class="mt-4">
          { index !== 0 && <hr /> }
          <div class="mt-4">
            <p>{<span class=" underline">{post.frontmatter.date}</span>}</p>
            <h2>
              <a href={href}>{post.frontmatter.title}</a>
            </h2>
            <ul class="flex list-none">
              {post.frontmatter.tags.map((tag: []) => (
     <li><a class="bg-zinc-100 rounded-full px-2 py-0.5" href={`/tags/${tag}`}> {tag}</a></li>
  ))}
              </ul>
            
          </div>
        </div>
      )
    })}
  </div>
  
</BaseLayout>

